<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>class-method.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>class-method2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>local variable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>mem_detail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>method.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>private.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>无参方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>有参有返.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E2CB6561C9E490900313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6611C9E699B00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB66C1C9E6DAD00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6771C9E773100313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6821C9E7BDC00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB68D1C9E7F5300313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6981C9E859A00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6A31C9E894400313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EE64D2F1C9E353600D25FD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EE64D3F1C9E452900D25FD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
