<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>12.2利用类分散代码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>12.3 通过类别创建前向引用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>18.5批处理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>20 main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Car.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CarProperty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CarTire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CarValueCoding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>CategoryExtend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>CategoryThing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Enemy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>NSFile-Ex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NSFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>RetainCount2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SetMemManage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>autorelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>category.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>day15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>empty-pointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>multiObjManage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>multiObjManageEx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>蝙蝠侠.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>键/值编码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E1F27391CAA66F1005DA050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E1F27441CAA70DC005DA050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E1F27641CAA8196005DA050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E1F278E1CAA9E17005DA050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E46B8D31CA2218200F13DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E46B8E41CA22B0A00F13DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E46B9081CA231EB00F13DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E46B9191CA235E400F13DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E46B92A1CA2380100F13DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E46B9411CA23E4C00F13DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E649DD81CACC4A9007CC208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E66CA7E1CA4CE52005F2ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E66CA8C1CA4DBC8005F2ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E66CA971CA4E14C005F2ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E66CAA21CA53A55005F2ACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E680BEB1CA8C8480041A7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E680C081CA8FADE0041A7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E680C161CA90F5A0041A7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E680C241CA91F000041A7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E680C351CA920540041A7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E680C4E1CA92D3E0041A7E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB507A31CA624CE004E6438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB507AE1CA6771C004E6438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF8EA811CA78A7100FCD340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F53E6D1CAD1D5100D4D39E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F53E7E1CAD1DF900D4D39E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
