<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Person.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>build-ex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>classDetail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>classGet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>classStartup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>custom-struct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>customStructInherit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>day14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dynamicDataStructure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ex-property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>instancetype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>new.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>private-var.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>property-dec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>structFactory-tips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>structFactroy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>synthesize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>typeSEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E6CBACF1CA1178600198F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6CBADD1CA1187E00198F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6CBAEE1CA11F2000198F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6CBB071CA121C300198F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6CBB121CA121E100198F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA5511CA0D638009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA55F1CA0D89E009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA56D1CA0DA1A009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA57B1CA0DBCC009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA5891CA0DE52009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA59A1CA0E885009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA5A81CA0E9F6009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA5B61CA0EB40009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA5C91CA0F334009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA5D91CA0F567009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA5E71CA10C47009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA5F81CA1125F009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECDA6061CA11363009CA427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EEE66531C9FEF1900CE177D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EEE66611C9FEF5800CE177D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
