<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>description.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ex-getter-setter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>getter-setter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>inherit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>keyword.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>muti-status.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>pack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>point.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>self-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>self.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>super.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>var-dec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E156ABC1C9FB3CA002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E156ACA1C9FB952002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E156AD51C9FB95E002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E156AE31C9FBBAB002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E156AF91C9FCB45002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E156B0D1C9FCF6B002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E156B211C9FD921002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E156B3F1C9FE178002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E156B501C9FE48D002228DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB77C281C9F9BED00CB3F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB77C361C9F9C6E00CB3F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB77C441C9F9EDF00CB3F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB77C521C9FA5FB00CB3F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
