<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>arg-obj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>day12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ex1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ex2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>homework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>multi-file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ob-struct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>obj-arg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>pragma-marks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>return-obj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>string.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>unknown-obj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>yangtuo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E2CB6B31C9E90C900313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6C11C9E940E00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6CC1C9E964800313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6D71C9E984B00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6E21C9E9F0B00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6ED1C9EA04B00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB6F81C9EA23E00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB7031C9EC0DD00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E2CB70E1C9ECB2F00313C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E5EF0CF1CAA08BD009B2C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E5EF0DD1CAA08E8009B2C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB77BFA1C9F7D6B00CB3F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EB77C121C9F97C300CB3F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
